body {
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 20px;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

header {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/background.jpg);
	background-position: center;
	height: 100vh; /* vh => view (screen) height */
	background-size: cover;
}

.logo {
	height: 100px;
	//width: auto;
	margin-top: 20px;
	float:left;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

#menuButton {
    color: #fff;
    float: right;
    margin-top: 55px;
    margin-right: 30px;
    display: none;
}

.main-nav li {
	display: inline-block;
	margin-left:40px;
}

.main-nav li a {
	color: #fff;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.3s;
}

.main-nav li a:hover {
	border-bottom: 2px solid #F53477;
}

.main-text {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 180%;
	word-spacing: 3px;
	text-transform:uppercase;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	text-decoration:none;
	border-radius: 50%;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn:hover {
	background-color: #F53477;
}

.btn-full {
	background-color: #F53477;
	border: 1px solid #F53477;
	color: #fff;
	margin-right: 15px;
}

.btn-full:hover {
	border: 1px solid #cf6d17;
	background-color: #cf6d17;
}

.btn-empty {
	border: 1px solid #F53477;
	color: #F53477;
}

.btn-empty:hover {
	background-color: #cf6d17;
	border: 1px solid #cf6d17;
	color: #fff;
}





























